* {
padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
} 

body {
margin:0;
padding: 0;
background: #fbeec7;
color: #444;
font: 13px Arial, Verdana, Tahoma, sans-serif;
line-height: 17px;
}

img {border: none;}
a{ color: #2A84E5; text-decoration: none; }
a:hover {  color: #000; }

#top {
background: #fbeec7 url(images/top.jpg) no-repeat;
padding: 10px 0;
}
#contentt {
background: #fbeec7 url(images/content.jpg) repeat-y;
padding: 20px;
}
#bottom {
background: #fbeec7 url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#wrap {
width: 970px;
margin: 0 auto;
}

#header {
height: 100px;
line-height: 30px;
}
#header h1 { 
font-size: 50px;
letter-spacing: -1px;
padding: 30px 0 0 10px;
color: #000;
}
#header h1 a { 
color: #3B8FE9;
text-decoration: none;
}
#header h1 a:hover {
color: #000;
}
#header h2 { letter-spacing: -1px; padding:0 0 0 30px; font-size: 18px; color: #000; }

#headermenu {
height: 60px;
background: #3B8FE9 url(images/menubg.jpg) repeat-x;
line-height: 60px;
}
.headerm { 
padding: 0;

font-weight: 100;
}
.headerm li {
float:left;
list-style-type:none;
}
.headerm li a {
display:block;
padding:0 20px;
text-decoration:none;
color: #fff;
letter-spacing:1px;
letter-spacing: -1px;
font-size: 20px;
}
.headerm li a:hover {
color:#000;
text-decoration:none;
}

.left {
margin-top: 10px;
float: left;
width: 200px;
line-height: 20px;
font-size:larger;
}
.left h2 {
margin-top: 10px;
font: bold 13px Verdana, 'Trebuchet MS', Sans-serif;
line-height: 30px;	
background: #CC0001 url(images/contenth2.jpg) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
}
.left ul  {
color: #aaa;
text-align: left;
margin: 3px 0 8px 0; 
padding-left: 10px;
text-decoration: none;	
list-style-type:none;	
}
.left ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;	
}
.left ul a {
font-weight: 600;
color: #2A84E5;
}
.left ul a:hover { color : #333; }

.middle { 
margin-top: 10px;
float: left;
width: 510px;
margin-left: 10px;
line-height: 20px;
}
.middle h2 {
font: bold 14px Verdana, 'Trebuchet MS', Sans-serif;
color: #fff;	
background: #CC0001 url(images/contenth2.jpg) repeat-x;
margin-bottom: 5px;
margin-top: 10px;
height: 30px;
line-height: 30px;
padding-left: 10px;
}
.middle h2 a {
color: #fff;
}
.middle h2 a:hover {
color: #000;
}

.right {
margin-top: 10px;
float: right;
width: 200px;
text-align: left;
}

.right h2 {
margin: 10px 0 20px 0;
font: bold 13px Verdana, 'Trebuchet MS', Sans-serif;
line-height: 30px;	
background: #CC0001 url(images/contenth2.jpg) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
}

#footer { 
color: #777;
text-align: center;
padding-bottom: 10px;
}
#footer a {  color: #777; text-decoration: none; }
#footer  a:hover { color: #000; }
.bluebutton 
{
    background: #ffffff url(images/buttonblue.png) repeat-x;
    color:white;
}

.bluebutton 
{
    background: #ffffff url(images/buttonblue.png) repeat-x;
    color:white;
}

.bluebutton 
{
    background: #ffffff url(images/buttonblue.png) repeat-x;
    color:white;
}

.bluebutton 
{
    background: #ffffff url(images/buttonblue.png) repeat-x;
    color:white;
}

.bluebutton 
{
    background: #ffffff url(images/buttonblue.png) repeat-x;
    color:white;
}
